@font-face {
    font-family: "Coder";
    src : url(Semi.otf)
}

body{

    color: #71049c;
    font-family: Coder, 'Times New Roman', Times, serif;
   background-image: url(6656.jpg)
  
}

#instruccion{
    background-color: #21b4b4;
    margin: 50px, 10px;
    color: #76159c;
    padding:  20px;
    font-size: 15px;
}
.box-encryption{
    text-align: center;
    margin: 20px;
}

.box-encryption p{
    margin-bottom:20px;
}

.box-encryption .txt-area, .box-encryption .btn-content{
    display:inline-block;
    vertical-align: top;
}

h1{
   
    font-size: 40px;
    text-align: center;   
    color: #21b4b4;
    background-color: #71049c;
}

p{
    text-align: center;
    font-weight: bold;
}

.caja {
    margin: 4px;
    font-size: 16px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    border: 1px solid #71049c;
    
}

#shift {
    margin: 4px;
    font-size: 16px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid #71049c;
    width: 50px;
}

#cifrado, #descifrado, #reset {
    color: #0ce9e9;
    font-family: Coder, 'Times New Roman', Times, serif;
    background: #71049c;
    width: 120px;
    height: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    box-shadow: none;
   
    

}

#results{
    text-align: center;
    margin: 20px;
    

}

